.navbar {
  background-color: rgba(61, 49, 38, 0.877);
  height: 70px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000
}
.conteyner {
  margin: 0 auto;
  width: 120vh;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
}
.conteynerNav {
  margin: 0 auto;
  width: 120vh;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  background-image: url(./img/logo.png);
  height: 70px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.btnMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 60px;
  font-size: 14px;
}
.imgMainBTN {
  height: 20px;
  width: 20px;
}
.navbarFlex{
  padding-left: 10px;
  padding-right: 10px;
}
.blockMainCenter{
  align-items: center;
  text-align: center;
  padding-top: 50px;
}
.lineInputSort{
  display: flex;
  column-gap: 20px;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.lineTwo{
  display: flex;
  column-gap: 20px;
}
.blockFillter{
  width: 28vh;
  height: 320px;
  background-color: white;
}
*{
  font-family: "Lato", sans-serif;
}
.navFlexBlock2{
  display: flex;
  column-gap: 20px;
}
.blockAuth{
  text-align: center;
  background-color: white;
}
.fonAuth {
  position: fixed;
  background-image: url(./img/pngtree-monster-and-book-ghost-icon-vector-png-image_6848636.png);
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
  z-index: -1;
  bottom: 0;
  width: 900px;
  height: 900px;
  filter: blur(5px); 
}
.fonAuth2 {
  position: fixed;
  background-image: url(./img/pngtree-monster-and-book-ghost-icon-vector-png-image_6848636.png);
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  z-index: -1;
  bottom: 0;
  width: 900px;
  height: 900px;
  filter: blur(5px); 
  transform: scaleX(-1);
}
.fonMBLOCK{
  position: fixed;
  background-color: rgba(219, 245, 160, 0.534);
  z-index: -1;
  bottom: 0;
  width: 2200px;
  height: 900px;
}